@{
    ViewData["Title"] = "Home Page";
}

@* <body style='background:@(ViewData["backgroundColor"])'> *@
<body style='background:green'>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-2">This is the Green version of the App</h2>
    <br/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

</body>